
.app {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
}

.logo {
  width: 70%;
  padding: 1rem 0 1rem 0;
}

@media screen and (max-width: 428px){
  .logo {
    padding: 3rem 0 1rem 0
  }
}
